  <h1>&bull; Teach Simsimi &bull;</h1>
  <div class="underline">
  </div>

  <form action="/learn_process" method="post" id="contact_form">
    <div class="message">
      <label for="message"></label>
      <textarea name="question" placeholder="내가 이렇게 말하면" id="message_input" cols="30" rows="1"></textarea>
    </div>

    <br>

    <div class="message">
      <label for="message"></label>
      <textarea name="answer" placeholder="너는 이렇게 말해줘" id="message_input" cols="30" rows="1"></textarea>
    </div>

    <br>

    <div class="submit">
      <input type="submit" value="TEACH" id="form_button" />
    </div>
  </form>
